*{
  margin: 0;
  padding: 0;
}

body {
  width: 1280px;
  font-family: 'Montserrat';
}


.header {
  text-align: center;
  padding: 26px 0;
   }

.header-navigation li {
  display: inline;
  margin: 0 36px;
  
  }
  
.link {
  color: #FF0000;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  letter-spacing: 2.7px;
  list-style-type: none;
  text-transform: uppercase;
  }

#banner {
  height: 789px;
  }

.heading {
  padding-top: 49px;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 3.3px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 38px;
  color: #373737;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2.4px;
  color: #373737;
  text-transform: none;
  margin: 0 68px 28px;
}

.button {
  width: 191px;
  height: 51px;
  background: #FF0000;
  border-radius: 4px;
  border-style: none;
  display: block;
  margin: 38px auto 42px;
  font-weight: 700;
  font-size: 12px;
  align-items: center;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
  margin-bottom: 40px;
  }

.footer {
  width: 462px;
  height: 39px;
  margin-bottom: 29px;
  margin-right: 105px;
  margin-left: auto;
  color: #373737;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 2.4px;
  text-transform: none;
  
}